@font-face {
    font-family: 'Comix Loud Cyr \(by chzshrft\)';
    src: url('ComixLoudCyrbychzshrft.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Opel Sans';
    src: url('OpelSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'DIN Pro';
    --bg: #D3FDFE;
    --magenta: #E5097F;
    --dark_magenta: rgb(121, 24, 72);
    --red: #e31e24;
    --orange: #EF7F1A;
    --green: #039243;
    --pea: #ADC895;
    --transition: 0.3s ease all;
    --border: 4px white solid;
}
header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 5px;
}
.header_top {
    flex-grow: 0;
    background-color: var(--bg);
    padding-block: 5px;
}
.header_top__inner {
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 20px;
}
.header_top__logo {
    align-self: end;
}
.header_top__logo img {
    display: block;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.contacts__icon {
}
.contacts__telephone {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 500;
    transition: var(--transition);
}
.contacts__telephone:hover, .contacts__telephone:active, .contacts__telephone:focus {
    color: var(--magenta);
    transition: var(--transition);
}
.contacts__social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--magenta);
    color: white;
}
.contacts__social:hover, .contacts__social:active, .contacts__social:focus {
    background-color: var(--dark_magenta);
    transition: var(--transition);
}
.header_top__adresses {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 1.3;
    color: black;
    transition: var(--transition);
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.header_top__adresses svg {
    transition: var(--transition);
}
.header_top__adresses svg path {
    fill: var(--magenta);
}
.header_top__adresses:hover, .header_top__adresses:focus, .header_top__adresses:active {
    color: var(--magenta);
    transition: var(--transition);
}
.header_top__adresses:hover svg {
    transform: scale(1.2);
    transition: var(--transition);
}

.header_bottom {
    position: relative;
/*     background-image: url('./mainbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header_bottom::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color: var(--pea);
    box-shadow: 0px 10px 40px 40px var(--pea);
    z-index: -1;
    opacity: 0.5;
}
.header_bottom__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
.header_bottom__bg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header_bottom__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
    z-index: 1;
}
.header_bottom__image img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.header_nav {
}
.header_nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.header_nav__item {
    position: relative;
    background-color: var(--orange);
    border: var(--border);
    transition: var(--transition);
}
.header_nav__item:hover {
    border-color: var(--magenta);
    transition: var(--transition);
}
.header_nav__item:hover::after {
    border-top-color: var(--magenta);
    transition: var(--transition);
}
.header_nav__item:hover .card {
    /* color: blue;
    transition: var(--transition); */
}
.header_nav__item::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 12px 0 12px;
    border-color: #fff transparent transparent transparent;
    transition: var(--transition);
}
.header_nav__item::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 7px 0 7px;
    transform: translateX(-50%);
    border-color: var(--orange) transparent transparent transparent;
    z-index: 1;
}
.header_nav__item:first-child {
    background-color: var(--red);
}
.header_nav__item:last-child {
    background-color: var(--magenta);
}
.header_nav__item:first-child::after, .header_nav__item:first-child::before {
    left: 70%;
}
.header_nav__item:first-child::after {
    border-width: 25px 0 0 24px;
}
.header_nav__item:first-child::before {
    transform: translateX(calc(-50% + 1px));
    border-width: 16px 0 0 14px;
    border-top-color: var(--red);
}
.header_nav__item:last-child::after, .header_nav__item:last-child::before {
    left: 25%;
}
.header_nav__item:last-child::after {
    border-width: 25px 24px 0 0;
}
.header_nav__item:last-child::before {
    transform: translateX(calc(-50% - 1px));
    border-width: 16px 14px 0 0;
    border-top-color: var(--magenta);
}
.header_nav__item_color {
    background-color: var(--green);
}
.header_nav__item_color::before {
    border-top-color: var(--green);
}
.header_nav__link {
    text-decoration: none;
}
.card {
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    color: white;
    text-align: center;
}
.card__title {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}
.card__subtitle {
    font-size: 14px;
}
.header_bottom__content {
    padding-block: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.header_bottom__content_info {
    width: 100%;
    margin-bottom: 100px;
}
.header_bottom__content_subtitle {
    padding-inline: 20%;
    text-align: center;
    font-family: 'Opel Sans';
    color: var(--magenta);
    font-size: 28px;
    font-weight: 600;
    text-shadow:
      -1px -1px 0 #fff,
       1px -1px 0 #fff,
      -1px  1px 0 #fff,
       1px  1px 0 #fff;
    margin-bottom: 30px;
}
.header_bottom__content_title {
    padding-inline: 20%;
    text-align: center;
    font-family: 'Comix Loud Cyr \(by chzshrft\)';
    color: rgb(31, 31, 161);
    font-size: 36px;
    font-weight: 600;
    line-height: 2.5;
    text-shadow:
      -2px -2px 0 #fff,
       2px -2px 0 #fff,
      -2px  2px 0 #fff,
       2px  2px 0 #fff;
       text-transform: uppercase;
}
.header_bottom__content_links {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header_bottom__content_links img {
    position: absolute;
    bottom: calc(100% - 10px);
    left: 20%;
}
.header_bottom__content_link {
    width: 200px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--green);
    color: white;
    transition: var(--transition);
}
.header_bottom__content_link:nth-child(2n) {
    background-color: var(--orange);
}
.header_bottom__content_link:hover, .header_bottom__content_link:active, .header_bottom__content_link:focus {
    background-color: var(--magenta);
    transition: var(--transition);
}
@media (max-width: 1200px) {
    .card__title {
        font-size: 18px;
    }
        .header_bottom__content_title {
        font-size: 24px;
    }
}
@media (max-width: 820px) {
    .header_top {
        padding-block: 10px;
    }
    .contacts {
        gap: 5px;
    }
    .header_top__adresses {
        gap: 5px;
    }
    .header_top__logo img {
        width: 200px;
        height: 60px;
    }
    .contacts__social svg, .contacts__icon, .header_top__adresses svg {
        /* width: 30px;
        height: 30px; */
    }
    .contacts__telephone {
        font-size: 20px;
    }
    .header_bottom__image {
        height: 65px;
    }
    .card {
        padding: 70px 7px 7px 7px;
    }
    .card__title {
        font-size: 16px;
    }
    .header_top__adresses {
        font-size: 16px;
    }
    .header_bottom::after {
        height: 370px;
        opacity: 1;
    }
    .header_bottom__bg {
        top: 350px;
    }
    .header_bottom__content_subtitle {
        font-size: 18px;
    }
    .header_bottom__content_title {
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .header_top__logo img {
        width: 150px;
        height: 50px;
    }
    .contacts__telephone {
        font-size: 16px;
    }
    .contacts__social {
        font-size: 14px;
        padding-inline: 8px;
    }
    .header_top__adresses {
        font-size: 14px;
    }
    .header_nav__list {
        gap: 2px;
    }
    .header_nav__item {
        border-width: 2px;
    }
    .header_nav__item::after {
        bottom: -20px;
        border-width: 20px 10px 0 10px;
    }
    .header_nav__item:first-child::after {
        border-width: 20px 0 0 20px;
    }
    .header_nav__item:last-child::after {
        border-width: 20px 20px 0 0;
    }
    .card {
        padding: 70px 3px 3px 3px;
    }
    .card__title {
        font-size: 12px;
        font-weight: 400;
    }
    .card__subtitle {
        font-size: 10px;
    }
    .header_bottom::after {
        height: 330px;
    }
    .header_bottom__bg {
        top: 300px;
    }
    .header_bottom__content_subtitle {
        padding-inline: 10%;
        font-size: 16px;
    }
    .header_bottom__content_title {
        font-size: 16px;
        padding-inline: 10%;
    }
}
@media (max-width: 420px) {
    .header_top__adresses {
        font-size: 10px;
    }
}
@media (max-width: 400px) {
    .header_top__inner {
        gap: 15px;
    }
    .header_top__logo img {
        width: 120px;
        height: 40px;
    }
}
